<div class="maindiv">

  <div class="banner" style="background-image: url(<%= asset_url('cocktails.jpg') %>)">
    <div class="text">
      <h1>Cocktails</h1>
        <p><%= link_to "Add a cocktail", new_cocktail_path, class: 'btn btn-light' %></p>
    </div>
  </div>
  <div class="buffer" style="height: 40px;">

  </div>

  <div class="cocktails">
    <div class="row">
      <% @cocktails.each do |cocktail|%>
        <div class="col-sm-4">
          <div class="card hvr-grow p-5" style="background-image: url(<%= asset_url('cocktail.png') %>);  width: 18rem; margin: 0 auto; height: 212px; margin-bottom: 5px; margin-top: 20px; background-color: white; border-radius: 3px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);" >
            <div class="card-body">
              <h5 class="card-title"><%= cocktail.name %></h5>
              <a href="<%= cocktail_path(cocktail) %>" class="btn btn-light">View</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


