<h1>Add a Dose</h1>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<%= link_to "Back", cocktail_path(@cocktail) %>
